html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #A4CBE3;
}

.container {
    width: 45vw;
    padding: 2vw 0;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 1.8vw;
    font-weight: 800;
    color: black;
}

.bar {
    width: 25vw;
    height: 0.1vw;
    border: none;
    background-color: white;
    margin-top: -1vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#nameP, 
#emailP, 
#ageP,
#passwordP,
#passwordcheckP {
    width: 100%;
    font-size: 0.7vw;
    color: black;
    font-weight: 600;
    margin-top: 1.5vw;
}

input {
    width: 16.5vw;
    height: 2vw;
    box-sizing: border-box;
    padding: 0 0.5vw;
    border: 0.05vw solid white;
    border-radius: 0.5vw;
    background-color: transparent;
    outline: none;
    font-size: 0.7vw;
    color: black;
}

#nameError,
#emailError,
#ageError,
#passwordError,
#passwordcheckError {
    font-size: 0.6vw;
    position: absolute;
    left: 0;
    top: 15%;
}

#emailError {
    top: 31%;
}

#ageError {
    top: 47%;
}

#passwordError {
    top: 63%;
}

#passwordcheckError {
    top: 79%;
}

#signupBtn {
    width: 100%;
    height: 3vw;
    margin: 2vw 0 1vw 0;
    border: none;
    border-radius: 0.5vw;
    background-color: #000000;
    color: white;
    font-size: 1vw;
    cursor: pointer;
}

#signupBtn:disabled {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: not-allowed;
}

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    position: absolute;
    padding: 2vw;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#modalTitle {
    font-size: 2vw;
    font-weight: 700;
}


#closeButton {
    align-self: flex-end;
    cursor: pointer;
    margin-top: 1vw;
}